



    <div class="list-group mid">
        <a href="{% url 'editprofile' user.id %}" class="list-group-item list-group-item-action">Edit Profile</a>
        <a href="{% url 'showorder' %}" class="list-group-item list-group-item-action">Order</a>
        <a href="{% url 'wishlist' %}" class="list-group-item list-group-item-action">Wishlist</a>
        <a href="{% url 'address' %}" class="list-group-item list-group-item-action">Address</a>
        <a href="{% url 'signout' %}" class="list-group-item list-group-item-action">Logout</a>
        <a href= "" class="list-group-item list-group-item-action">Bank details</a>
    </div>